
@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  ::selection{
    color: aqua;
  }

  
}

html, body{
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}